<div class="container">
<form class="form">
    <div class="text-center display-6 text-primary mb-3 heading">
        Login
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" [(ngModel)]="email">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="password">
    </div>
    <div class="d-grid mb-3 col-4 mx-auto">
        <button routerLink='/home' type="submit" class="btn btn-primary" (click)="print()">Submit</button>
    </div>
    <div class="text-center">
        New User? <a routerLink="/signup" class="dont-underline">Sign Up</a>
    </div>
</form>
</div>
