<div class="prescript bg-info">
    <div class="d-flex justify-content-between">
        <div class="px-5 py-2 fs-4">Mr.XYZ</div>
        <div class='px-5 py-2 fs-4'>Date</div>
    </div>
    <table class="table mx-4 text-center" style="width: 90%;">
        <thead>
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Medicine</th>
                <th scope="col">Dosage</th>
                <th scope="col">Timing</th>
            </tr>
        </thead>
        <tbody>
            <tr class="align-middle">
                <th scope="row">1</th>
                <td>Larry</td>
                <td>5</td>
                <td class='p-0 m-0'>
                    <div class="form-check m-0 timing">
                        <input class="form-check-input mx-2 " type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            M
                        </label>
                    </div>
                    <div class="form-check m-0 timing">
                        <input class="form-check-input mx-2" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                           A
                        </label>
                    </div>
                    <div class="form-check m-0 timing">
                        <input class="form-check-input mx-2" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            E
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>